Expense List
<!-- Header -->
<ion-header>
<ion-toolbar>
  <!--<ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>-->
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>Expenses List</ion-title>
</ion-toolbar>
</ion-header>
<!-- Content -->
<!-- Kategorien, Suchen & Sortieren -->
<ion-content>
<ion-grid class="ion-padding">
  <ion-row>
    <ion-col size="10" size-sm="4">
      <ion-item>
        <ion-icon name="swap-vertical" slot="start"></ion-icon>
        <ion-select interface="popover" value="Date (newest first)">
          <ion-select-option>Created at (newest first)</ion-select-option>
          <ion-select-option>Created at (oldest first)</ion-select-option>
          <ion-select-option>Name (A-Z)</ion-select-option>
          <ion-select-option>Name (Z-A)</ion-select-option>
          <ion-select-option>Date (newest first)</ion-select-option>
          <ion-select-option>Date (oldest first)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="10" size-sm="4">
      <ion-item>
        <ion-icon name="pricetag" slot="start"></ion-icon>
        <ion-select interface="popover" placeholder="Category"[multiple]="true" formControlName="categoryIds">
          <ion-select-option role="option">DAS IST EIN TEST</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="10" size-sm="4">
      <ion-item>
        <ion-icon name="search" slot="start"></ion-icon>
        <ion-input maxlength="40" placeholder="Search" [clearInput]="true"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
<!-- Expenses list -->
<ion-list inset="true">
  <!-- Expenses -->
  <ion-item-group *ngFor="let expenseGroup of expenseGroups">
    <ion-item-divider>
      <ion-label>
        {{ expenseGroup.date | date:'mediumDate' }}
      </ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let expense of expenseGroup.expenses" button="true" [detail]="true" (click)="openModal(expense)">
      <ion-label>
        {{ expense.name }} - {{ expense.amount | currency }}
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-list>
<!-- Create fab button -->
<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="openModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
<!-- Footer -->
<!-- Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="changeMonth(-1)">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ date | date:'MMMM yyyy' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="changeMonth(1)">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
