Expense Modal
<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">
        <ion-icon slot="start" name="close"></ion-icon>
        CANCEL
      </ion-button>
    </ion-buttons>
    <ion-title>Add Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="start" name="save"></ion-icon>
        SAVE
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content class="ion-padding">
  <ion-item>
    <ion-icon name="text" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Enter the expense's name" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-icon name="pricetag" slot="start"></ion-icon>
    <ion-select interface="popover" placeholder="Choose a category">
      <ion-select-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-select-option>
    </ion-select>
    <ion-button slot="end" (click)="showCategoryModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input maxlength="40" placeholder="Enter the amount in CHF" required></ion-input>
    <ion-note slot="end">CHF</ion-note>
  </ion-item>
  <ion-item>
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="datetime" presentation="date" [showDefaultButtons]="true"><span slot="title">ENTER THE DATE OF THE EXPENSE</span></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
</ion-content>
